<html>
	<head>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


		<style>
			.card-box{
				height: 300px;
			}
			.rotated {
				transform: rotate(90deg);
				background-color: pink;
			}
		</style>
	</head>

    <body>
	
		<div class="container" style="height:600px;">
		
			<div class="active-advances border border-success rounded-circle" style = " position: relative; width: 50px; height:50px; top: 50px;">
				Active
			</div>
			<div class="row" style="height:60%;">

					<div class= "art-box" style="height:100%;">
						 <img src="../card_art/make_a_move.png" style="max-height:100%;"> 
					</div>


			</div>
			
			<div class="row" style="height:35%;">
				<div class="col-sm border" >
					<div class="active-advances border border-success rounded-circle rotated" style = "position: relative; width: 50px; height:50px; top: -25px; left:90%;">
						In-Active
					</div>
					<div class= "title-box">
						Hopeless Romantic
					</div>
					<div class= "type-box">
						Type: Romeo
					</div>
					<div class= "effect-box">
						You must pay 1 as an additional cost to play this card inactive or 2 to play this card active.
					</div>

				</div>

			</div>
			
			<div class="row" style="height:5%;">
				<div class="col-sm border" >
					<div class= "learning-cost-box">
						Learning Cost: 3
					</div>
				</div>

			</div>
			

		</div>


    </body>
</html>