<!doctype html>
<html lang="en">
	<head>
		<title>Waifu Hunter Clothing Items</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	

		<style>
			.card-box{
				height: 300px;
			}
			.lp-circle {
				background-color: pink;
				font-size: small;
				position:absolute;
				width: 50px; 
				height:50px; 
				bottom: 40px; 
				left:80%;
			}
			.shift-up{
				position: relative;
				top: -50px;
			}
			.shift-down{
				position: relative;
				top: 30px;
			}
			
			.active-advances{
				background-color: #bef7ab;
				font-size: small;
				width: 50px; 
				height:50px;
			}
			
			.flavor-text-box{
				font-style: italic;
				font-size: .7em;
			}
			.title-box{
				font-weight: bold;
			}
			.effect-box{
				margin-bottom:5px;
				font-size: small;
			}
			
			.type-box{
				background:rgba(255,255,255,0.5);
			}
		</style>
	</head>
    <body>
	
		<div class="container" >
			<div class="row" style="height:335px;">
			
				<!-- Card box 1 -->
				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Goth Girl's Panties
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							3
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/panties.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" style="font-size:8pt;">
								To Claim: <br>
								The player to your left looks at your hand and selects 2 of those cards. Discard the selected cards.
							</div>
							<div class= "effect-box shift-up" style="font-size:8pt;">
								Special Effect:
								Choose an opponent and pay 2. If you do they must pay 5 effort. If they cannot, they discard all of your effort.
							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									4
								</div>
							</div>
						</div>

					</div>
					
						
				</div>
				
				<!-- Card box 2 -->

				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Goth Girl's Leggings
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							3
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/leggings.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" style="font-size:8pt;">
								To Claim: <br>
								The player to your right looks at the top 4 cards of you deck, discards any number of them, then returns the rest to the top of your deck in any order.
							</div>
							<div class= "effect-box shift-up">

							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									4
								</div>
							</div>
						</div>

					</div>
					
						
				</div>
				

				<!-- Card box 3 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Goth Girl's Headband
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							2
						</div>
					</div>

					<div class="row" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/scrunchie.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								The player to your left may pay 2. If they do you must pay 5 effort or fail to claim this card.
							</div>
							<div class= "effect-box shift-up">

							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									3
								</div>
							</div>
						</div>

					</div>
				</div>
				
				
				<!-- Card box 4 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Goth Girl's Dress
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							2
						</div>
					</div>

					<div class="row" style="height:40%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/dress.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:55%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" style="font-size:8pt;">
								To Claim: <br>
								Discard your entire hand
							</div>
							<div class= "effect-box shift-up" style="font-size:8pt;">
								Special Effect:
								Choose an opponent and expel a card from your hand. If you do, they must expel a card of equal or greater cost from their hand, or reveal their hand showing no such card.
							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									2
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			
			
			
			
			<div class="row" style="height:335px;">
			
				<!-- Card box 1 -->
				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Goth Girl's Rose Band
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							1
						</div>
					</div>

					<div class="row" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/rose_band.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" style="font-size: 8pt;">
								To Claim: <br>
								Choose an opponent. That opponent may discard a card. If they do, you must discard a card of equal or greater value or fail to claim this card.
							</div>
							<div class= "effect-box shift-up">

							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									2
								</div>
							</div>
						</div>

					</div>
					
						
				</div>
				
				<!-- Card box 2 -->

				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Purity's Panties
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							5
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/panties.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" style="font-size: small;">
								To Claim: <br>
								Pay 2 for each different type of card you have comitted here.
							</div>
							<div class= "effect-box shift-up">
								Special Effect:
								Pick a type of card. Gain up to 2 cards of that type from the common area with different costs.
							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									6
								</div>
							</div>
						</div>

					</div>
					
						
				</div>
				

				<!-- Card box 3 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Purity's Bra
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							4
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/bra.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Discard 1 for each different type of card you have comitted here.
							</div>
							<div class= "effect-box shift-up">
								Special Effect
								You have 2 extra effort for this turn.
							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									5
								</div>
							</div>
						</div>

					</div>
				</div>
				
				
				<!-- Card box 4 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Purity's Ribbon
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							3
						</div>
					</div>

					<div class="row" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/ribbon.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" style="font-size: small;">
								To Claim: <br>
								If you have a most common type of card among those you have comitted here, discard a card of that type. Otherwise, Discard 3 cards.
							</div>
							<div class= "effect-box shift-up">
							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									4
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			
			
			
			
			
			<div class="row" style="height:335px;">
			
				<!-- Card box 1 -->
				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Purity's Dress
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							2
						</div>
					</div>

					<div class="row" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/green_dress.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Your turn ends immediately
							</div>
							<div class= "effect-box shift-up">

							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									3
								</div>
							</div>
						</div>

					</div>
					
						
				</div>
				
				<!-- Card box 2 -->

				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Purity's Hair
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							2
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/hair.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Pay 3 if you have 2 or more different types of cards comitted here. Otherwise pay 1.
							</div>
							<div class= "effect-box shift-up">

							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									3
								</div>
							</div>
						</div>

					</div>
					
						
				</div>
				

				<!-- Card box 3 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Artsy Girl's Bra
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							3
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/bra.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Expel a card from your hand.
							</div>
							<div class= "effect-box shift-up">
								Special Effect:
								Take card from your discard and place it on top of an opponents deck.
							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									3
								</div>
							</div>
						</div>

					</div>
				</div>
				
				
				<!-- Card box 4 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Artsy Girl's Shorts
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							3
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/jean_shorts.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Expel a card from your effort pool.
							</div>
							<div class= "effect-box shift-up" >
								Special Effect:
								Expel a card from your hand.
							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									3
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			
			

			<div class="row" style="height:335px;">
			
				<!-- Card box 1 -->
				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Artsy Girl's Stockings
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							2
						</div>
					</div>

					<div class="row" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/leggings.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Expel a card from your discard
							</div>
							<div class= "effect-box shift-up">

							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									3
								</div>
							</div>
						</div>

					</div>
					
						
				</div>
				
				<!-- Card box 2 -->

				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Artsy Girl's Shirt
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							2
						</div>
					</div>

					<div class="row" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/shirt.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Nothing extra.
							</div>
							<div class= "effect-box shift-up">

							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									2
								</div>
							</div>
						</div>

					</div>
					
						
				</div>
				

				<!-- Card box 3 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Artsy Girl's Hat
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							1
						</div>
					</div>

					<div class="row" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/skully.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Nothing extra.
							</div>
							<div class= "effect-box shift-up">

							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									1
								</div>
							</div>
						</div>

					</div>
				</div>
				
				
				<!-- Card box 4 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Dummy
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							3
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" style="font-size:8pt;">

							</div>
							<div class= "effect-box shift-up" style="font-size:8pt;">

							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									3
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			
			
			
			
		</div>


    </body>
</html>