<html>
	{% load static %}
	<head>
		<title>Waifu Hunter Templates</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
			  
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="{% static "js/html2canvas.js" %}"></script>

	

		<style>
			.card-box{
				height: 420px;
				width: 320px;
			}
			.lp-circle {
				background-color: pink;
				font-size: small;
				position:absolute;
				width: 50px; 
				height:50px; 
				bottom: 150px; 
				left:80%;
			}
			.shift-up{
				position: relative;
				top: -50px;
			}
			.shift-down{
				position: relative;
				top: 30px;
			}
			
			.active-advances{
				background-color: #bef7ab;
				font-size: small;
				width: 50px; 
				height:50px;
			}
			
			.flavor-text-box{
				font-style: italic;
				font-size: .7em;
			}
			.title-box{
				font-weight: bold;
			}
			.effect-box{
				margin-bottom:5px;
				font-size: small;
			}
			
			.type-box{
				background:rgba(255,255,255,0.5);
			}
			
			.clickable-image-link{
				cursor: pointer;
			}
		</style>
	</head>
	

    <body>
	
	 <div hidden value = "{{id}}" id="card-id">{{id}}</div> 
	
		<div class="container" style="height:500px;">
			<div class="row card-box " id = "card-container">
			
				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
					
						<div id ="owner-name" style= "float:left; margin-right:5px; min-width:30px; color:494fa2;" contentEditable="true">
							{{owner}}
						</div>
						<div id= "item-name" contentEditable="true" style=" float:left; min-width:30px;">
							{{name}}
						</div>
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div id ="minAdv" class="font-weight-bold" style="font-size: large;" contentEditable="true">
							{{min_adv}}
						</div>
					</div>

					<div class="row" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img id="img-box" src="{{image}}" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" style="min-width:30px;">
								To Claim: <br>
								<div p id = "claim-text" contentEditable="true">
									{{claim_text}}
								</div>
							</div>
							<div class= "effect-box shift-up" >
								Special Effect:
								<div id = "special-text" contentEditable="true" style="min-width:30px; min-height:30px;">
									{{special_text}}
								</div>
							</div>
							
							

						</div>

					</div>
					
					<div class="border border-danger rounded-circle text-center lp-circle" >
						<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
							LP
						</div>
						<div class="font-weight-bold" style="font-size: large;" id = "lp-div" contentEditable="true">
							{{lp}}
						</div>
					</div>	
				</div>
			</div>
		</div>
		
		<div class="container" style="height:200px;">
			<div class="row">
				<div class="col-sm" >
					<button type="button" class="btn btn-secondary" id="download-btn" onclick="htmlCanvas()">Download JPG</button>
				</div>

				<div class="col-sm" >
					<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#imageSelectModal">
						Change Image
					</button>
				</div>
				<div class="col-sm" >
					<button type="button" class="btn btn-primary" onclick="saveChanges()">
						Save Changes
					</button>
				</div>
			</div>
		</div>
		
		<div class="modal" tabindex="-1" role="dialog" id="imageSelectModal">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title">Change Image</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				{% for image in images %}
					<p class="clickable-image-link" onclick="changeImage('/static/card_art_cropped/{{image}}')"> {{image}} </p>
				{% endfor %}
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  </didv>
			</div>
		  </div>
		</div>

		<script>
		
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
					}
				}
			});
	
			function htmlCanvas(){
				html2canvas(document.querySelector("#card-container")).then(function(canvas) {
				
					var dt = canvas.toDataURL('image/jpeg');
					
					var a = document.createElement('a');
					a.href = dt;
					a.download = $(".title-box").text().trim() +".jpg";
					document.body.appendChild(a);
					a.click();
					document.body.removeChild(a);
				});

			}
			
			function toggleInactive(){
				$(".in-active-advances").toggleClass('hide');
			}
			
			$(document).ready(function() {
				//pass
			});
			
			function changeImage(imgURL){
				$("#img-box").attr("src", imgURL);
			}
			
			
			function saveChanges(){
				//round up inputs and save them
				var imgURL = $("#img-box").attr("src");
				var owner = $("#owner-name").text();
				var itemName = $("#item-name").text();
				var minAdv = $("#minAdv").text();
				var lp = $("#lp-div").text();
				var specialtext = $("#special-text").text();
				var claimtext = $("#claim-text").text();
				var cardID = $("#card-id").text();

				
				$.ajax({
					method: "POST",
					url: "../saveChangesClothing/",
					data: {"payload":JSON.stringify({"cardID": cardID, "imgURL": imgURL, "owner":owner, "itemName":itemName, "minAdv": minAdv,
						   "lp":lp, "specialtext": specialtext, "claimtext": claimtext})},
					success: function(response) {
						alert("Changes Saved");
						window.location.href = "../cardMain";
					},
					error: function(response) {
						alert("error");
					}
				});
			}

		</script>
    </body>
</html>