<!doctype html>
<html lang="en">
	<head>
		<title>Waifu Hunter Clothing Items</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	

		<style>
			.card-box{
				height: 300px;
			}
			.lp-circle {
				background-color: pink;
				font-size: small;
				position:absolute;
				width: 50px; 
				height:50px; 
				bottom: 40px; 
				left:80%;
			}
			.shift-up{
				position: relative;
				top: -50px;
			}
			.shift-down{
				position: relative;
				top: 30px;
			}
			
			.active-advances{
				background-color: #bef7ab;
				font-size: small;
				width: 50px; 
				height:50px;
			}
			
			.flavor-text-box{
				font-style: italic;
				font-size: .7em;
			}
			.title-box{
				font-weight: bold;
			}
			.effect-box{
				margin-bottom:5px;
				font-size: small;
			}
			
			.type-box{
				background:rgba(255,255,255,0.5);
			}
		</style>
	</head>
    <body>
	
		<div class="container" >
			<div class="row" style="height:335px;">
			
				<!-- Card box 1 -->
				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Sporty Girl's Bra
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							3
						</div>
					</div>

					<div class="row" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/sports_bra.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Discard 3 cards.
							</div>
							<div class= "effect-box shift-up">
								Special Effect:
								You may gain 1 expelled card.
							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									4
								</div>
							</div>
						</div>

					</div>
					
						
				</div>
				
				<!-- Card box 2 -->

				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Sporty Girl's Panties
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							3
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/panties.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Discard 4 cards of different values.
							</div>
							<div class= "effect-box shift-up">
								Special Effect:
								Take two cards from your discard and add them to your hand.
							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									5
								</div>
							</div>
						</div>

					</div>
					
						
				</div>
				

				<!-- Card box 3 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Sporty Girl's Scrunchie
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							1
						</div>
					</div>

					<div class="row" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/scrunchie.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Discard 1 card and pay 1.
							</div>
							<div class= "effect-box shift-up">

							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									2
								</div>
							</div>
						</div>

					</div>
				</div>
				
				
				<!-- Card box 4 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Sporty Girl's Gym Shorts
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							3
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/gym_shorts.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Discard 2 cards with a total cost of 4 or greater.
							</div>
							<div class= "effect-box shift-up">
								Special Effect:
								Discard up to two cards. For each card discarded in this way, gain a card with cost equal to or less than that of the discarded card.
							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									3
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			
			
			
			
			<div class="row" style="height:335px;">
			
				<!-- Card box 1 -->
				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Sporty Girl's Jersey
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							2
						</div>
					</div>

					<div class="row" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/shirt.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Discard 2 cards and pay 1.
							</div>
							<div class= "effect-box shift-up">

							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									3
								</div>
							</div>
						</div>

					</div>
					
						
				</div>
				
				<!-- Card box 2 -->

				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Book Girl's Panties
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							4
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/panties.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Pay 4. You cannot pay with effort played this turn.
							</div>
							<div class= "effect-box shift-up">
								Special Effect:
								Look at the top card of each player deck and put one of these cards on the top of each player's deck.
							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									5
								</div>
							</div>
						</div>

					</div>
					
						
				</div>
				

				<!-- Card box 3 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Book Girl's Bra
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							3
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/bra.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Pay 3
							</div>
							<div class= "effect-box shift-up">
								Special Effect
								Look at the top 2 cards of the persona deck and gain up to 1 to the top of your deck.
							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									4
								</div>
							</div>
						</div>

					</div>
				</div>
				
				
				<!-- Card box 4 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Book Girl's Ribbon
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							2
						</div>
					</div>

					<div class="row" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/ribbon.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Pay 2. You cannot pay with effort played this turn.
							</div>
							<div class= "effect-box shift-up">
							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									2
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			
			
			
			
			
			<div class="row" style="height:335px;">
			
				<!-- Card box 1 -->
				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Book Girl's Shirt
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							2
						</div>
					</div>

					<div class="row" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/shirt.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Pay 2
							</div>
							<div class= "effect-box shift-up">

							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									2
								</div>
							</div>
						</div>

					</div>
					
						
				</div>
				
				<!-- Card box 2 -->

				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Book Girl's Tie
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							1
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Pay 1. You cannot pay with effort played this turn.
							</div>
							<div class= "effect-box shift-up">

							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									1
								</div>
							</div>
						</div>

					</div>
					
						
				</div>
				

				<!-- Card box 3 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Student President's Bra
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							4
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/bra.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Reveal 5 cards with different costs.
							</div>
							<div class= "effect-box shift-up">
								Special Effect:
								Each opponent reveals their hand, then select 1 card from each of their hands. The selected cards are discarded.
							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									4
								</div>
							</div>
						</div>

					</div>
				</div>
				
				
				<!-- Card box 4 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Student Pres' Leggings
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							3
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/leggings.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" style="font-size:8pt;">
								To Claim: <br>
								Reveal 2 random cards from your hand. If they are not the same type, you fail to claim this card.
							</div>
							<div class= "effect-box shift-up" style="font-size:8pt;">
								Special Effect:
								Reveal a card from you hand. Gain a card from the common area to your hand with cost equal to that of the revealed card.
							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									3
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			
			

			<div class="row" style="height:335px;">
			
				<!-- Card box 1 -->
				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Student Pres' Shirt
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							2
						</div>
					</div>

					<div class="row" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/shirt.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" style="font-size:8pt;">
								To Claim: <br>
								Reveal 3 cards of different types.
							</div>
							<div class= "effect-box shift-up" style="font-size:8pt;">
								Special Effect:
								Reveal 3 cards of different types. Gain any card from the common area to your hand.
							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									2
								</div>
							</div>
						</div>

					</div>
					
						
				</div>
				
				<!-- Card box 2 -->

				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Student Pres' Blazer
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							1
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/blazer.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Reveal 3 cards with the same cost
							</div>
							<div class= "effect-box shift-up">

							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									1
								</div>
							</div>
						</div>

					</div>
					
						
				</div>
				

				<!-- Card box 3 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Student Pres' Skirt
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							1
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/skirt.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" >
								To Claim: <br>
								Reveal the top card of the persona deck, then reveal 2 cards that match its type.
							</div>
							<div class= "effect-box shift-up">

							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									1
								</div>
							</div>
						</div>

					</div>
				</div>
				
				
				<!-- Card box 4 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						
					</div>
					<div class="active-advances border border-success rounded-circle text-center">
						<div class="font-weight-bold text-nowrap">
							Min. Adv.
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							
						</div>
					</div>

					<div class="row" style="height:50%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:45%;">
						<div class="col-sm" >


							<div class= "type-box shift-up" style="font-size:8pt;">

							</div>
							<div class= "effect-box shift-up" style="font-size:8pt;">

							</div>
							
							
							<div class="border border-danger rounded-circle text-center lp-circle" >
								<div class= "text-nowrap font-weight-bold " style = "position: relative; ">
									LP
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			
			
			
			
		</div>


    </body>
</html>