<!doctype html>
<html lang="en">
	<head>
		<title>Waifu Hunter Templates</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	

		<style>
			.card-box{
				height: 300px;
			}
			.in-active-advances {
				transform: rotate(90deg); /* Equal to rotateZ(45deg) */
				background-color: pink;
				font-size: small;
				position: relative; 
				width: 50px; 
				height:50px; 
				top: -25px; 
				left:88%;
			}
			.shift-up{
				position: relative;
				top: -50px;
			}
			.shift-down{
				position: relative;
				top: 25px;
			}
			
			.active-advances{
				background-color: #bef7ab;
				font-size: small;
			}
			
			.flavor-text-box{
				font-style: italic;
				font-size: .7em;
			}
			.title-box{
				font-weight: bold;
			}
			.effect-box{
				margin-bottom:5px;
				font-size: small;
			}
			img{
				max-height:100%; 
				max-width:100%;
			}
		</style>
	</head>
    <body>
	
		<div class="container" >
			<div class="row" style="height:450px;">
			
				<!-- Card box 1 -->
				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Work Out
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							1
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/work_out.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center">
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									N/A
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: Chad
							</div>
							<div class= "effect-box shift-up">
								Discard: Expel a card in your hand and gain and gain effort equal to its cost plus 2. You may put the first card you gain this turn directly in to your hand.
							</div>
							
							<div class= "flavor-text-box shift-up">

								Lorem ipsum whatever... Something something.

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: <b>2</b>
							</div>
						</div>
					</div>
						
				</div>
				
				<!-- Card box 2 -->

				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Make a Move
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							3
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/make_a_move.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									N/A
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: Chad
							</div>
							<div class= "effect-box shift-up">
								Discard this card after checking favor on your next turn.
							</div>
							
							<div class= "flavor-text-box shift-up">

								Lorem ipsum whatever... Something something.

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: <b>3</b>
							</div>
						</div>
					</div>
						
				</div>
				

				<!-- Card box 3 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						P.U.A.
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							2
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/pua.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									0
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: Chad
							</div>
							<div class= "effect-box shift-up">
								Active if you have at least 1 advance on two characters. If you have advances on more than 3 characters, draw a card at the start of your turn.
							</div>
							
							<div class= "flavor-text-box shift-up">

								Lorem ipsum whatever... Something something.

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: <b>3</b>
							</div>
						</div>
					</div>
						
				</div>
			</div>
			
			
			
			
			
			
			
			
			
			
			
			
			<div class="row" style="height:450px;">
			
				<!-- Card box 1 -->
				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Booty Call
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							0
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/booty_call.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									N/A
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: Chad
							</div>
							<div class= "effect-box shift-up">
								Expel: Reveal 3 Chad cards in your hand. If you do, activate an inactive piece of clothing you have.
							</div>
							
							<div class= "flavor-text-box shift-up">

								Lorem ipsum whatever... Something something.

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: <b>1</b>
							</div>
						</div>
					</div>
						
				</div>
				
				<!-- Card box 2 -->

				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Buy Gifts
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							3
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/scorpion_ermac_comm.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									2
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: Chad
							</div>
							<div class= "effect-box shift-up">
								You must pay 1 as an additional cost to play this card inactive or 2 to play this card active.
							</div>
							
							<div class= "flavor-text-box shift-up">

								Lorem ipsum whatever... Something something.

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: <b>2</b>
							</div>
						</div>
					</div>
						
				</div>
				

				<!-- Card box 3 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Hard to Get
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							3
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/hard_to_get.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									1
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: Chad
							</div>
							<div class= "effect-box shift-up">
								Active while this is your only card comitted to this character.
							</div>
							
							<div class= "flavor-text-box shift-up">

								Lorem ipsum whatever... Something something.

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: <b>4</b>
							</div>
						</div>
					</div>
						
				</div>
			</div>
			
			
			
			
			
			
			
			
			<div class="row" style="height:450px;">
			
				<!-- Card box 1 -->
				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Sore Loser
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							1
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/sore_loser.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									N/A
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: Chad
							</div>
							<div class= "effect-box shift-up">
								If you lose this clothing, you may immeditaly commit this card to the next clothing for this character at the end of this turn.
							</div>
							
							<div class= "flavor-text-box shift-up">

								Lorem ipsum whatever... Something something.

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: <b>2</b>
							</div>
						</div>
					</div>
						
				</div>
				
				<!-- Card box 2 -->

				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Playbook
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							1
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/playbook.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									N/A
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: Chad
							</div>
							<div class= "effect-box shift-up">
								Discard: Put up to three cards from the top of your effort pool into your hand.
							</div>
							
							<div class= "flavor-text-box shift-up">

								Lorem ipsum whatever... Something something.

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: <b>1</b>
							</div>
						</div>
					</div>
						
				</div>
				

				<!-- Card box 3 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Inexperienced
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							1
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; width:100%; margin-left:auto; margin-right:auto;">
							 <img src="" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									N/A
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: None
							</div>
							<div class= "effect-box shift-up">
								Effect:
								Expel: Gain 2 effort for this turn. You may only expel one "Inexperienced" card each turn for this effect.
							</div>
							
							<div class= "flavor-text-box shift-up">

								Not sure what my strategy for getting girls is yet...

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: 0<b></b>
							</div>
						</div>
					</div>
						
				</div>
			</div>
			
		</div>


    </body>
</html>