<!doctype html>
<html lang="en">
	<head>
		<title>Waifu Hunter Templates</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	

		<style>
			.card-box{
				height: 300px;
			}
			.in-active-advances {
				transform: rotate(90deg); /* Equal to rotateZ(45deg) */
				background-color: pink;
				font-size: small;
				position: relative; 
				width: 50px; 
				height:50px; 
				top: -25px; 
				left:88%;
			}
			.shift-up{
				position: relative;
				top: -50px;
			}
			.shift-down{
				position: relative;
				top: 25px;
			}
			
			.active-advances{
				background-color: #bef7ab;
				font-size: small;
			}
			
			.flavor-text-box{
				font-style: italic;
				font-size: .7em;
			}
			.title-box{
				font-weight: bold;
			}
			.effect-box{
				margin-bottom:5px;
				font-size: small;
			}
			img{
				max-height:100%; 
				max-width:100%;
			}
		</style>
	</head>
    <body>
	
		<div class="container" >
			<div class="row" style="height:450px;">
			
				<!-- Card box 1 -->
				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Panty Thief
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							0
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; width:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/panty_thief.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									N/A
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: Pervert
							</div>
							<div class= "effect-box shift-up">
								Play: If there are at least 3 other of your Perv cards in play on this waifu already, Pay LP+1 of the item to take it immediately.
							</div>
							
							<div class= "flavor-text-box shift-up">

								PANTSU!

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: <b>2</b>
							</div>
						</div>
					</div>
						
				</div>
				
				<!-- Card box 2 -->

				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Territorial
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							1
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/territorial.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									N/A
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: Pervert
							</div>
							<div class= "effect-box shift-up">
								Other players playing cards on this character must discard another card from their hand or pay 1 as an additional cost to play each card.
							</div>
							
							<div class= "flavor-text-box shift-up">

								She's MINE! No one else can have her!!

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: <b>4</b>
							</div>
						</div>
					</div>
						
				</div>
				

				<!-- Card box 3 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						C**k Block
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							0
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/cock_block.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									2
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: Pervert
							</div>
							<div class= "effect-box shift-up">
								Inactive on your turn. Active on other players turns.
							</div>
							
							<div class= "flavor-text-box shift-up">

								Lorem ipsum whatever... Something something.

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: <b>1</b>
							</div>
						</div>
					</div>
						
				</div>
			</div>
			
			
			
			
			
			
			
			
			
			
			
			
			<div class="row" style="height:450px;">
			
				<!-- Card box 1 -->
				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Peepin' Tom
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							1
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/peepin_tom.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									N/A
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: Pervert
							</div>
							<div class= "effect-box shift-up">
								Play: You may look at each other players hand and may force each of them to swap one of the cards in their hand with the top card of their deck (you do not see the new card).
							</div>
							
							<div class= "flavor-text-box shift-up">

								Lorem ipsum whatever... Something something.

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: <b>2</b>
							</div>
						</div>
					</div>
						
				</div>
				
				<!-- Card box 2 -->

				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						"Accidental" Collision
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							1
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/accidental_collision.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									N/A
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: Pervert
							</div>
							<div class= "effect-box shift-up">
								Play: Return 1 card on this waifu to its owner's hand.
							</div>
							
							<div class= "flavor-text-box shift-up">

								Lorem ipsum whatever... Something something.

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: <b>2</b>
							</div>
						</div>
					</div>
						
				</div>
				

				<!-- Card box 3 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Getting Scolded
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							1
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/getting_scolded.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									N/A
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: Pervert
							</div>
							<div class= "effect-box shift-up">
								Discard: Each other player must pay 1 or discard 2 cards from their hand.
							</div>
							
							<div class= "flavor-text-box shift-up">

								There is a price to pay for your lecherous actions!

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: <b>3</b>
							</div>
						</div>
					</div>
						
				</div>
			</div>
			
			
			
			
			
			
			
			
			<div class="row" style="height:450px;">
			
				<!-- Card box 1 -->
				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Confusing Messages
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							2
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/disruptive.png" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									1
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: Pervert
							</div>
							<div class= "effect-box shift-up">
								Starts Active. / Deactivate when an opponent commits a card to this character to instead force them to commit it to a character of your choice.
							</div>
							
							<div class= "flavor-text-box shift-up">

								Lorem ipsum whatever... Something something.

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: <b>3</b>
							</div>
						</div>
					</div>
						
				</div>
				
				<!-- Card box 2 -->

				
				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Pushy
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							2
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; margin-left:auto; margin-right:auto;">
							 <img src="card_art_cropped/pushy.jpg" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									1
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: Pervert
							</div>
							<div class= "effect-box shift-up">
								Active while you have at least 2 other Pervert cards on this piece of clothing.
							</div>
							
							<div class= "flavor-text-box shift-up">

								But... But... I'm a really nice guy!

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: <b>1</b>
							</div>
						</div>
					</div>
						
				</div>
				

				<!-- Card box 3 -->

				<div class="col-sm border card-box rounded" style="height:100%;">
					<div class= "title-box shift-down" style="float:right; font-size:large;">
						Inexperienced
					</div>
					<div class="active-advances border border-success rounded-circle shift-down text-center" style = " width: 50px; height:50px;">
						<div class="font-weight-bold">
							Active
						</div>
						<div class="font-weight-bold" style="font-size: large;">
							1
						</div>
					</div>

					<div class="row border" style="height:60%;">

						<div class= "art-box" style="height:100%; width:100%; margin-left:auto; margin-right:auto;">
							 <img src="" style="max-height:100%;"> 
						</div>


					</div>
					
					<div class="row" style="height:35%;">
						<div class="col-sm" >
							<div class="in-active-advances border border-danger rounded-circle text-center" >
								<div class= "text-nowrap font-weight-bold" style = "position: relative; left: -3px;">
									In-Active
								</div>
								<div class="font-weight-bold" style="font-size: large;">
									N/A
								</div>
							</div>

							<div class= "type-box shift-up" >
								Type: None
							</div>
							<div class= "effect-box shift-up">
								Effect:
								Expel: Gain 2 effort for this turn. You may only expel one "Inexperienced" card each turn for this effect.
							</div>
							
							<div class= "flavor-text-box shift-up">

								Not sure what my strategy for getting girls is yet...

							</div>
						</div>

					</div>
					
					<div class="row shift-up" style="height:5%;">
						<div class="col-sm" >
							<div class= "learning-cost-box">
								Learning Cost: 0<b></b>
							</div>
						</div>
					</div>
						
				</div>
			</div>
			
		</div>


    </body>
</html>